* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #253858;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}
input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #253858;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #42526e;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.woff2") format("woff2"),
    url("Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::placeholder {
  color: #a6ff34;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a6ff34;
}

::-ms-input-placeholder {
  color: #a6ff34;
}

header {
  background: url(../Assets/spot\ light.jpg);
  height: 825px;
}

header .wrapper {
}

header .wrapper section.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

header .wrapper section.head .left {
  font-size: 15px;
  display: flex;
  padding-top: 20px;
}

header .wrapper section.head .left h1 {
}

header .wrapper section.head .left h1 a {
}

header .wrapper section.head .left h1 a img {
  color: #fff;
  display: block;
  width: 100%;
}

header .wrapper section.head .middle {
  display: flex;
  justify-content: center;
}

header .wrapper section.head .middle ul {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 500px;
}

header .wrapper section.head .middle ul li {
  margin-left: 20px;
  padding-top: 35px;
}

header .wrapper section.head .middle ul li a {
  color: #e8e8e8;
  align-items: center;
}

header .wrapper section.head .right {
}

header .wrapper section.head .right ul {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

header .wrapper section.head .right ul li {
  margin-left: 20px;
  padding-top: 35px;
}
header .wrapper section.head .right ul li a {
  color: #e8e8e8;
}
header .wrapper section.head .right ul li a.button {
  background: #e8e8e8;
  border-radius: 20px;
  width: 20px;
  padding: 12px 12px;
  color: #0b0a0a;
  font-weight: bold;
}
.bottom {
}
.bottom .container {
}
.bottom .container h1 {
  padding: 50px;
  font-size: 50px;
  color: #e8e8e8;
  font-weight: 600px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.bottom .container p {
  font-size: 15px;
  color: #605d4a;
  margin: 0 auto;
  width: 36%;
  margin-bottom: 30px;
}
.bottom .container .btn-div {
  text-align: center;
}
.bottom .container .btn-div .button {
  font-size: 20px;
  background: #a6ff34;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 10px;
  margin: 0 auto;
  font-weight: bold;
  color: #0b0a0a;
  margin-left: 91px;
}
.bottom .container .button span {
}
.bottom .container .button span img {
  text-align: center;
}

.sticker {
  position: relative;
  text-align: center;
  width: 103%;
  margin: 0 auto;
}
.sticker div.one {
  position: absolute;
  transform: rotate(-15deg);
  right: 870px;
  top: 109px;
}
.sticker div.one img {
  width: 209px;
  display: block;
}
.sticker div.two {
  position: absolute;
  transform: rotate(-1eg);
  right: 675px;
  top: 135px;
}
.sticker div.two img {
  width: 203px;
  display: block;
}
.sticker div.three {
  position: absolute;
  transform: rotate(-1deg);
  right: 527px;
  top: 92px;
}
.sticker div.three img {
  width: 203px;
  display: block;
}
.sticker div.four {
  position: absolute;
  transform: rotate(6deg);
  right: 359px;
  top: 140px;
}
.sticker div.four img {
  width: 203px;
  display: block;
}
#open {
  background: #a6ff34;
  height: 76vh;
}

#open .tab {
}

#open .tab h1 {
  padding: 71px 0;
  font-size: 60px;
  font-weight: bold;
  color: #0b0a0a;
  text-align: center;
  /* margin: 5px 0 0 20%; */
}

#open .tab .search {
  position: absolute;
  margin-left: 40%;
  background: #e8e8e8;
  border-radius: 13px;
  padding: 39px 42px 37px 42px;
  width: 21%;
}

#open .tab .search img {
  width: 100%;
  display: block;
}

#open .tab .right {
  position: absolute;
  right: 390px;
}

#open .tab .right img {
}

#open .tab .left {
  position: absolute;
  left: 400px;
}

#open .tab .left img {
  transform: scaleX(-1);
}

#open .tab p {
  text-align: center;
  margin: 68px 0 0 404px;
  padding: 69px 0;
  color: #8e8e8e;
  text-align: center;
  width: 40%;
}
#images {
}

#images .find {
}

#images .find h3 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 40px;
  color: #0b0a0a;
  padding-top: 40px;
  width: 64%;
  align-items: center;
  margin-left: 80px;
}

#images .find h3 span {
  color: grey;
  font-size: 50px;
  font-weight: bold;
}

#images .find h4 {
  font-size: 50px;
  margin-left: 16%;
  padding-top: 100px;
  padding-bottom: 30px;
  font-weight: bold;
  color: #0b0a0a;
}

#images .find .container {
  padding-top: 30px;
}

#images .find .container .google {
}

#images .find .container .google img {
}

#images .find .container .porsche {
}

#images .find .container .porsche img {
}

#images .find .container .algolia {
}

#images .find .container .algolia img {
}

#images .find .container .volvo {
}

#images .find .container .volvo img {
}

#images .find .container .grab {
}

#images .find .container .grab img {
}

#images .find .container .upwork {
}

#images .find .container .upwork img {
}

#images .find .container .coinbase {
}

#images .find .container .coinbase img {
}

#images section.find div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
#images section.find div.container div {
  width: 20%;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  background: #e8e8e8;
  margin-bottom: 20px;
  margin-right: 30px;
  padding: 15px 5px;
  border-radius: 8px;
}
#images section.find div.container div img {
  width: 68%;
}

#platform {
  background: #e8e8e8;
  /* height: 100vh; */
}

#platform h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  color: #0b0a0a;
  padding-top: 70px;
}

#platform .trend {
}

#platform .trend .fig {
  display: flex;
  padding: 50px;
  margin-left: 6%;
}
#platform .trend .fig div {
  background: #fff;
  border-radius: 20px;
  width: 120px;
  height: 118px;
  position: relative;
  margin-right: 34px;
}
#platform .trend .fig div img {
  display: block;
  width: 100%;
}
#platform .trend .fig .facebook {
}

#platform .trend .fig div.facebook img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig div.twitter {
  background: #a6ff34;
}

#platform .trend .fig .twitter img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .dribble {
}

#platform .trend .fig .dribble img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .git {
}

#platform .trend .fig .git img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .company {
}

#platform .trend .fig .company img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .pinrest {
}

#platform .trend .fig .pinrest img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .linkedin {
}

#platform .trend .fig .linkedin img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .fig .vk {
}

#platform .trend .fig .vk img {
  width: 80px;
  top: 18px;
  right: 15px;
  position: absolute;
}

#platform .trend .post {
  margin-right: 20px;
}

#platform .trend .post img {
  width: 60%;
}

#platform .trend .post {
  margin-left: 25%;
}

#platform .trend .post .one {
}

#platform .trend .post .one img {
  width: 70%;
}

#platform .trend .post .two {
}

#platform .trend .post .two img {
  width: 70%;
}

#platform .trend .post .three {
}

#platform .trend .post .three img {
  width: 70%;
}

#platform .trend ul {
  margin-top: 70px;
}

#platform .trend ul li {
}
div.platform-button {
  text-align: center;
  padding: 3%;
}
div.platform-button button {
  background: #000;
  color: #fff;
  padding: 2%;
  border-radius: 35px;
  width: 12%;
}
#deal {
  background: #0b0a0a;
  height: 874px;
}
#deal .wrapper h2 {
  text-align: center;
  color: #fff;
  padding: 6%;
  font-size: 40px;
  font-weight: bold;
}
#deal .wrapper div.bottom-deal {
  display: flex;
  margin-left: 35%;
}
#deal .wrapper div.mm {
  padding: 3%;
  color: #fff;
}
#deal .wrapper div.nn {
  width: 9%;
}
#deal .wrapper div.nn img {
  width: 100%;
}
#deal .wrapper div.kk {
  padding: 3%;
  color: gray;
}
#deal .wrapper div.ll {
  padding: 3%;
}
#deal .wrapper div.ll img {
  width: 60%;
}
#deal div.deal-bottom {
  display: flex;
}
#deal div.deal-bottom div.one {
  width: 22%;
  background: #fff;
  margin-right: 3%;
  margin-left: 9%;
  height: 448px;
  padding: 3%;
  border-radius: 20px;
}
#deal div.one h1 {
  font-size: 35px;
  font-weight: bold;
}
#deal div.one nav {
  margin-top: 2%;
}
#deal div.one span b {
  font-size: 40px;
  font-weight: bold;
}
div.one hr.line {
  border-bottom: 2px solid #cfcdcd;
  margin-top: 5%;
}
div.one ul {
  margin-top: 20px;
}
div.one ul li {
  margin-top: 5%;
}
div.button-bottom {
  background: greenyellow;
  margin-top: 15%;
  padding: 5%;
  text-align: center;
  border-radius: 35px;
}
div.deal-bottom div.two {
  width: 22%;
  background: greenyellow;
  margin-right: 3%;
  margin-left: 4%;
  height: 448px;
  padding: 3%;
  border-radius: 20px;
}
div.two h1 {
  font-size: 35px;
  font-weight: bold;
}
div.two nav {
  margin-top: 2%;
}
div.two span b {
  font-size: 40px;
  font-weight: bold;
}
div.two hr.line {
  border-bottom: 2px solid #cfcdcd;
  margin-top: 5%;
}
div.two ul {
  margin-top: 20px;
}
div.two ul li {
  margin-top: 10px;
}
div.button-bottom-two {
  background: #000;
  margin-top: 15%;
  padding: 5%;
  text-align: center;
  border-radius: 35px;
}
div.button-bottom-two a.button {
  color: #fff;
}
div.deal-bottom div.three {
  width: 22%;
  background: #fff;
  margin-right: 3%;
  margin-left: 4%;
  height: 448px;
  padding: 3%;
  border-radius: 20px;
}
div.three h1 {
  font-size: 35px;
  font-weight: bold;
}
div.three nav {
  margin-top: 2%;
}
div.three span b {
  font-size: 40px;
  font-weight: bold;
}
div.three hr.line {
  border-bottom: 2px solid #cfcdcd;
  margin-top: 5%;
}
div.three ul {
  margin-top: 20px;
}
div.three ul li {
  margin-top: 10px;
}
#footer {
  background: #a6ff34;
  height: 60vh;
  padding: 100px 50px 50px;
}

#footer .foot {
}

#footer .foot h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0b0a0a;
  width: 47%;
  margin-left: 30%;
  padding: 35px;
}

#footer .foot h1 span {
  font-size: 50px;
  font-weight: bold;
  color: rgb(45 255 45);
}

#footer .foot .button {
  display: inline-block;
  font-size: 15px;
  background: #0b0a0a;
  border-radius: 25px;
  width: 120px;
  padding: 15px 30px;
  margin-left: 47%;
  color: #fff;
  margin-top: 45px;
}
#bottom {
  display: flex;
  justify-content: space-between;
  padding: 23px 50px;
}

#bottom .left {
  width: 15%;
}

#bottom .left img {
  /* margin-left: 40%; */
  width: 100%;
  display: block;
  /* padding: 50px; */
}

#bottom .right {
}

#bottom .right ul {
  display: flex;
  justify-content: space-between;
}

#bottom .right ul li {
  margin-left: 20px;
}
#bottom .right ul li:first-child {
  margin-left: 0px;
}
#bottom .right ul li a {
  color: #0b0a0a;
}

/* RESPONSIVE */

@media all and (max-width: 1280px) {
  header {
    background: url(../Assets/spot\ light.jpg);
    height: 716px;
  }
  .bottom .container h1 {
    font-size: 50px;
    width: 55%;
  }
  .bottom .container p {
    font-size: 13px;
    width: 40%;
    margin-bottom: 24px;
  }
  .bottom .container .btn-div .button {
    font-size: 18px;
    border-radius: 18px;
  }
  .sticker div.four img {
    width: 196px;
  }
  .sticker div.four {
    right: 326px;
    top: 95px;
  }
  .sticker div.three img {
    width: 196px;
  }
  .sticker div.three {
    right: 417px;
    top: 53px;
  }
  .sticker div.two img {
    width: 196px;
  }
  .sticker div.two {
    right: 566px;
    top: 94px;
  }
  .sticker div.one img {
    width: 196;
  }
  .sticker div.one {
    position: absolute;
    transform: rotate(-15deg);
    left: 223px;
    top: 65px;
  }
  #open {
    height: 89vh;
  }
  #open .tab h1 {
    padding: 29px 0;
    font-size: 57;
  }
  #open .tab .search {
    margin-left: 42%;
    width: 18%;
  }
  #open .tab .right {
    right: 282px;
  }
  #open .tab .left {
    left: 288px;
  }
  #open .tab p {
    padding: 55px 0;
    width: 38%;
    font-size: 13px;
    margin: 98px auto -55px;
    margin-left: 369px;
  }
  #images .find h3 {
    font-size: 37px;
  }
  #images .find h3 span {
    font-size: 37px;
  }
  #images .find h4 {
    font-size: 39px;
    margin-left: 15%;
    padding-top: 35px;
    padding-bottom: 6px;
  }
  #images section.find div.container {
    width: 66%;
  }
  #platform h1 {
    font-size: 50px;
    padding-top: 22px;
  }
  #platform .trend .fig div {
    border-radius: 36px;
    width: 92px;
    height: 81px;
    margin-right: 25px;
  }
  #platform .trend .fig div.facebook img {
    width: 54px;
    top: 15px;
    right: 16px;
  }
  #platform .trend .fig .twitter img {
    width: 65px;
    top: 10px;
    right: 10px;
  }
  #platform .trend .fig .dribble img {
    width: 54px;
    top: 15px;
    right: 16px;
  }
  #platform .trend .fig .git img {
    width: 54px;
    top: 15px;
    right: 16px;
  }
  #platform .trend .fig .company img {
    width: 52px;
    top: 15px;
    right: 17px;
  }
  #platform .trend .fig .pinrest img {
    width: 54px;
    top: 15px;
    right: 16px;
  }
  #platform .trend .fig .linkedin img {
    width: 49px;
    top: 17px;
    right: 18px;
  }
  #platform .trend .fig .vk img {
    width: 51px;
    top: 16px;
    right: 18px;
  }
  #footer {
    height: 102vh;
  }
  #footer .foot h1 {
    font-size: 47px;
    width: 53%;
    padding: 4px;
    margin-left: 28%;
    margin-top: -26px;
  }
}
@media all and (max-width: 1080px) {
  header .wrapper section.head .left {
    width: 187px;
  }
  .sticker div.four img {
    width: 193px;
  }
  .sticker div.four {
    right: 242px;
    top: 89px;
  }
  .sticker div.three {
    right: 365px;
    top: 46px;
  }
  .sticker div.two {
    right: 477px;
  }
  .sticker div.one {
    left: 186px;
  }
  #open .tab .right {
    right: 267px;
  }
  #open .tab p {
    width: 37%;
    margin: 94px auto -45px;
    margin-left: 325px;
  }
  #open {
    height: 61vh;
  }
  #platform .trend .fig div.facebook img {
    right: 12px;
  }
  #platform .trend .fig .twitter img {
    width: 59px;
    right: 7px;
  }
  #platform .trend .fig .dribble img {
    right: 13px;
  }
  #platform .trend .fig .git img {
    right: 13px;
  }
  #platform .trend .fig .company img {
    right: 13px;
  }
  #platform .trend .fig .pinrest img {
    right: 11px;
  }
  #platform .trend .fig .linkedin img {
    right: 14px;
  }
  #platform .trend .fig .vk img {
    right: 13px;
  }
  #footer {
    height: 63vh;
  }
  #deal {
    height: 784px;
  }
}

@media all and (max-width: 980px) {
  header .wrapper section.head .left h1 {
    width: 130px;
  }
  header .wrapper section.head .middle ul li a {
    font-size: 12px;
  }
  header .wrapper section.head .middle ul {
    width: 100%;
  }
  header .wrapper section.head .middle {
    align-items: center;
  }
  header .wrapper section.head .middle ul li {
    padding-top: 0;
  }
  header .wrapper section.head .right ul li {
    padding-top: 0;
  }
  .bottom .container h1 {
    font-size: 35px;
    width: 58%;
  }
  .bottom .container p {
    font-size: 12px;
    width: 60%;
    text-align: center;
  }
  .bottom .container .btn-div .button {
    font-size: 12px;
    border-radius: 18px;
    padding-bottom: 12px;
    padding-top: 1px;
  }
  .sticker div.one {
    left: 446px;
    top: 65px;
  }
  .sticker div.one {
    transform: rotate(16deg);
  }
  #open .tab h1 {
    font-size: 41px;
    padding: 15px 0;
  }
  #open .tab .left {
    left: 196px;
  }
  #open .tab .right {
    right: 156px;
  }
  #open .tab .search img {
    width: 121%;
    margin-top: -16px;
    margin-left: -8px;
  }
  #open .tab p {
    margin: 62px auto -45px;
    margin-left: 268px;
  }
  #open {
    height: 51vh;
  }
  #images .find h4 {
    font-size: 32px;
  }
  #platform h1 {
    font-size: 40px;
    padding-top: 19px;
  }
  #platform .trend .fig div {
    border-radius: 166px;
    height: 61px;
  }
  #platform .trend .fig div.facebook img {
    width: 42px;
    top: 10px;
    right: 9px;
  }
  #platform .trend .fig .twitter img {
    width: 44px;
    top: 10px;
    right: 7px;
  }
  #platform .trend .fig .dribble img {
    width: 40px;
    top: 11px;
    right: 11px;
  }
  #platform .trend .fig .git img {
    width: 44px;
    top: 9px;
    right: 9px;
  }
  #platform .trend .fig .company img {
    width: 42px;
    top: 10px;
    right: 10px;
  }
  #platform .trend .fig .pinrest img {
    width: 43px;
    top: 9px;
    right: 9px;
  }
  #platform .trend .fig .linkedin img {
    width: 38px;
    top: 12px;
    right: 11px;
  }
  #platform .trend .fig .vk img {
    width: 40px;
    top: 11px;
    right: 10px;
  }
  #footer .foot h1 {
    font-size: 45px;
    padding: 4px;
    margin-left: 28%;
    margin-top: -86px;
  }
  .button {
    margin-left: 314px;
  }
}
@media all and (max-width: 768px) {
  header .wrapper section.head .left h1 a img {
    width: 93%;
  }
  header .wrapper section.head .middle {
    display: none;
  }
  header .wrapper section.head .right ul li {
    margin-left: -226px;
  }
  .container h1 {
    font-size: 32px;
    width: 65%;
  }
  .sticker div.one img {
    width: 171px;
  }
  .sticker div.one {
    left: 381px;
  }
  .sticker div.four img {
    width: 181px;
  }
  .sticker div.four {
    right: 227px;
    top: 77px;
  }
  .sticker div.three img {
    width: 187px;
  }
  .sticker div.three {
    right: 329px;
    top: 37px;
  }
  .sticker div.two img {
    width: 178px;
  }
  .sticker div.two {
    right: 450px;
    top: 75px;
  }
  #open .tab .left {
    left: 139px;
  }
  #open .tab .left img {
    width: 99px;
  }
  #open .tab .right img {
    width: 101px;
  }
  #open .tab .right {
    right: 143px;
  }
  #open .tab .search img {
    width: 225%;
    margin-top: -23px;
    margin-left: -19px;
  }
  #open .tab .search {
    width: 18%;
    margin-left: 40%;
    border-radius: 31px;
    padding: 38px 42px 37px 42px;
  }
  #open .tab p {
    margin-left: 200px;
  }
  #images .find h4 {
    font-size: 30px;
  }
  #platform h1 {
    font-size: 34px;
  }
  #platform .trend .fig {
    padding: 14px;
    margin-left: 6%;
  }
  #platform .trend .fig div.facebook img {
    width: 37px;
    top: 11px;
    right: 6px;
  }
  #platform .trend .fig .twitter img {
    width: 39px;
    top: 10px;
    right: 3px;
  }
  #platform .trend .fig .dribble img {
    width: 36px;
    right: 6px;
  }
  #platform .trend .fig .git img {
    width: 39px;
    top: 11px;
    right: 5px;
  }
  #platform .trend .fig .company img {
    width: 36px;
    top: 12px;
    right: 6px;
  }
  #platform .trend .fig .pinrest img {
    width: 40px;
    top: 11px;
    right: 4px;
  }
  #platform .trend .fig .linkedin img {
    width: 34px;
    top: 13px;
    right: 6px;
  }
  #platform .trend .fig .vk img {
    width: 36px;
    top: 12px;
    right: 6px;
  }
  #deal div.one h1 {
    font-size: 26px;
  }
  #deal div.deal-bottom div.one {
    width: 27%;
    margin-right: 1%;
    height: 427px;
    padding: 2%;
  }
  div.button-bottom {
    margin-top: 8%;
    padding: 0%;
    border-radius: 38px;
  }
  div.two h1 {
    font-size: 25px;
  }
  div.deal-bottom div.two {
    width: 29%;
    margin-left: 0%;
    height: 428px;
    padding: 3%;
    border-radius: 18px;
  }
  div.button-bottom-two {
    margin-top: 1%;
    padding: 0%;
  }
  div.deal-bottom div.three {
    width: 30%;
    margin-left: -2%;
    height: 429px;
    padding: 3%;
    border-radius: 18px;
  }
  .button {
    margin-left: -6px;
  }
  #deal {
    height: 634px;
  }
  #footer .foot h1 {
    font-size: 35px;
  }
  #footer .foot .button {
    margin-top: 12px;
    margin-left: 189px;
    width: 104px;
    padding: 12px 30px;
  }
}
@media all and (max-width: 640px) {
  .sticker div.four img {
    width: 122px;
  }
  header {
    height: 620px;
  }
  .sticker div.one img {
    width: 112px;
  }
  .sticker div.three img {
    width: 112px;
  }
  .sticker div.two img {
    width: 106px;
  }
  .sticker div.four {
    right: 134px;
    top: 51px;
  }
  .sticker div.one {
    left: 313px;
    top: 43px;
  }
  .sticker div.three {
    right: 226px;
    top: 26px;
  }
  .sticker div.two {
    right: 316px;
    top: 48px;
  }
  #open .tab .left {
    left: 83px;
  }
  #open .tab .right {
    right: 103px;
  }
  #open .tab .left img {
    width: 69px;
  }
  #open .tab .right img {
    width: 69px;
  }
  #open .tab .search img {
    width: 47px;
    margin-top: -1px;
    margin-left: -22px;
  }
  #open .tab .search {
    padding: 13px 42px 12px 42px;
  }
  #open .tab h1 {
    font-size: 34px;
  }
  #open .tab p {
    margin-left: 152px;
    margin: 15px auto -45px;
  }
  #platform .trend .fig {
    padding: 13px;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
  #platform .trend .fig div {
    border-radius: 40px;
  }
  #platform .trend .fig div.facebook img {
    right: 27px;
  }
  #platform .trend .fig .dribble img {
    right: 27px;
  }
  #platform .trend .fig .twitter img {
    right: 24px;
  }
  #platform .trend .fig .company img {
    right: 28px;
  }
  #platform .trend .fig .linkedin img {
    width: 34px;
    top: 13px;
    right: 27px;
  }
  #platform .trend .fig .linkedin img {
    right: 27px;
  }
  #platform .trend .fig .git img {
    right: 26px;
  }
  #platform .trend .fig .pinrest img {
    right: 25px;
  }
  #platform .trend .fig .vk img {
    right: 26px;
  }
  #platform .trend .fig {
    margin-left: 21%;
  }
  #deal div.one h1 {
    font-size: 22px;
  }
  div.two h1 {
    font-size: 20px;
  }
  div.two span b {
    font-size: 24px;
  }
  #deal div.one span b {
    font-size: 33px;
  }
  #deal div.one span b {
    font-size: 33px;
  }
  div.three h1 {
    font-size: 23px;
  }
  div.three span b {
    font-size: 31px;
  }
  #footer .foot .button {
    margin-left: 158px;
  }
  #bottom .left img {
    margin-left: -59%;
    width: 146%;
  }
  #deal {
    height: 602px;
  }
}
